@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0;
    background-color: black;
}

h1 {
    color: rgb(128, 0, 111);
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    border: 10px solid rgb(128, 0, 111);
    padding-left: 350px;
    border-left-width: 200px;
    border-right-width: 200px;
    
}

p {
    color: rgb(128, 0, 111);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

img {
    width: 250px;
    padding-left: 500px;
}

button {
    color: rgb(128, 0, 111);
    border: 5px solid rgb(128, 0, 111);
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
